html, body, s-page {
    height: 100%;
    overflow: hidden;
    margin: 0;
    background-color: transparent;
    --wails-draggable: drag
}

body {
    font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    user-select: none;    
}

@font-face {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    src: local(""),
    url("assets/fonts/nunito-v16-latin-regular.woff2") format("woff2");
}

@media (prefers-color-scheme: dark) {
    .right-panel {
        background-color: #333;
        color: #fff;
    }
}
@media (prefers-color-scheme: light) {
    .right-panel {
        background-color: #fff;
        color: #333;
    }
    h1, h2, s-text-field{
        color: #082b31;
    }
}

#exit{
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    width: 50px;
    height: 40px;
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.2);
    border: none;
    color: white;
    z-index: 2;
}
#exit:hover{
    background-color: rgba(128, 128, 128, 0.4);
}


s-segmented-button, s-text-field{
    width: 170px;
    font-size: 14px;
    --wails-draggable: none;
    z-index: 1;
}

s-segmented-button-item{
    padding: 3px;
    font-size: 12px; 
    z-index: 1;
}

s-button {
    font-size: 14px;
    min-width: 80px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

s-divider{
    margin: 10px;
    padding: 0;
    height: 3px;
    grid-column: span 2;
}


.right-panel {
    width: 240px;
    height: 600px;
    /* background-color: rgb(45, 45, 45); 可根据需要更改背景颜色 */
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
}

#config {
    padding: 10px 0;
}

#login {
    margin-top: 10px;
    padding: 10px 0;
    border-top: 1px solid rgba(128, 128, 128, 0.2);
}

.grid-container {
    display: grid;
    grid-template-columns: 65px 1fr;
    row-gap: 6px;
    max-width: 240px;
    padding: 0 8px;
    box-sizing: border-box;
}

.grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
}

.rgrid-item {
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 4px 8px;
    z-index: 1;
    flex-wrap: wrap;
}


h1{
    padding-top: 15px;
    margin: 0;
    font-size: 22px;
    text-align: center;
    width: 100%;
}

h2{
    padding: 8px;
    text-align: center;
    margin: 0;
    font-size: 15px;
    font-weight: 500;
}

#buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
}

#buttons s-switch {
    flex-shrink: 0;
}

#buttons s-button {
    flex: 1;
    min-width: 100px;
    max-width: 130px;
}